body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: rgb(203, 250, 250);
}
h1 {
    text-align: center;
    color: blue;
}
.formulario {
    margin-bottom: 20px;
}
.resultado {
    border: 1px solid #ccc;
    padding: 10px;
}